 name: Sync Upstream

 permissions: write-all             

 on:
   schedule:
     - cron: '0 0 * * *'           
   workflow_dispatch:

 jobs:
   sync:
     runs-on: ubuntu-latest
     steps:
       - name: Checkout target repo
         uses: actions/checkout@v3

       - name: Sync upstream changes
         id: sync
         uses: aormsby/Fork-Sync-With-Upstream-action@v3.4
         with:
           target_sync_branch: main
           target_repo_token: ${{ secrets.GITHUB_TOKEN }}
           upstream_sync_repo: cycodehq/cycode-cli
           upstream_sync_branch: main
           test_mode: false

       - name: New commits found
         if: steps.sync.outputs.has_new_commits == 'true'
         run: echo "New commits were found to sync."

       - name: No new commits
         if: steps.sync.outputs.has_new_commits == 'false'
         run: echo "There were no new commits."
